.css-95f9g5-MuiToolbar-root,
.css-153gm7s-MuiPaper-root-MuiDrawer-paper {
    background-color: #1c4e80 !important;
    color: #f1f1f1 !important;
}

.css-20bmp1-MuiSvgIcon-root {
    color: #f1f1f1;
}